body {
    background: rgb(29, 29, 29);
}

.header  h1 {
    font-size: 48px;
    color: white;
    text-align: center;

}

.buttons-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5% 2% 5%;
}

.buttons-top button {
    padding: 8px;
    background: rgb(47, 47, 47);
    border-radius: 8px;
    font-size: 24px;
    color: white;
}

.game-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.game-competitors {
    display: flex;
    margin: 5% 20% 5% 20%;
    gap: 300px;
    justify-content: flex-end;
    align-items: center;
}
.game-container img {
    width: 200px;
    height: 200px;
}

.game-container h1 {
    text-align: center;
}

.computer, .player {
    margin-left: 20px;
    margin-right: 20px;
}

.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 70px;
}

.rock, .paper, .scissors {
    padding: 10px;
    border-radius: 8px;
    background: rgb(47, 47, 47);
    color: white;
    font-size: 24px;
}
.footer {
    height: 72px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(25, 25, 25);
}

/* modal */
.popup-modal {
  padding: 32px 64px;
  background-color: rgb(27, 27, 27);
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0%;
  text-align: center;
  transition: transform 0.3s ease-in-out, opacity 0.4s ease;
  transform: translate(-50%, -100%);
}

.popup-modal.show {
  opacity: 100%;
  pointer-events: all;
  transform: translate(-50%, -50%);
}

.modal-title{
    color: white;
}
#close-modal {
    padding: 12px;
    background: rgb(22, 22, 22);
    color: white;
    border-radius: 8px;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
  
}

.backdrop.show {
  opacity: 100%;
}
