.page {
    display: flex;
}

.image {
    background-image: url(./picture.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.left {
    position: relative;
    color: white;
}

.left h1 {
    position: absolute;
    bottom: 95%;
    left: 1%;
    font-size: 2rem;
}

body {
    background-color: black;
}

.text {
    font-size: 1rem;
}
